@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button{
  padding: 0;
  margin: 0;
}

body {
  /* background: #242327 !important; */
  background-image: url('backgroundimage.jpg'); /* Replace 'path/to/your/image.jpg' with the path to your image file */
  background-size:auto; /* Cover the entire background */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.cursor{
  cursor: pointer;
}
.App {
  text-align: center;
}

h1 {
  color: #fff !important;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #1A1A40;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
  width: 50vw;
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #939996;
  padding: 0.5rem 1rem;
  width: 90%;
  color: #fff;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background: #8758ff;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #818080;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
  cursor: pointer;
}

/* .edit-icon,
.delete-icon {
  cursor: pointer;
} */
 
